# Database Configuration (Neon PostgreSQL)
DB_NAME=quiniela
DB_USER=neondb_owner
DB_PASSWORD=npg_pQrLmJXlZ78I
DB_HOST=ep-falling-cherry-aqc89mqe.c-8.us-east-1.aws.neon.tech
DB_PORT=5432
DB_SSLMODE=require

# Django Settings
DEBUG=True
SECRET_KEY=tu-secret-key-aqui
ALLOWED_HOSTS=localhost,127.0.0.1

# Docker
POSTGRES_DB=sistema_apuestas
POSTGRES_USER=postgres
POSTGRES_PASSWORD=tu_password_aqui

# Microservicio Marcador (FastAPI en puerto 8001)
MARCADOR_SERVICE_URL=http://localhost:8001
MARCADOR_SERVICE_TIMEOUT=5

# Frontend (para enlaces enviados por correo)
FRONTEND_URL=http://localhost:3000
